.spacer-right {
    margin-right: auto;
}
.title {
    font-size: 1.5rem;
}
.mat-toolbar {
    background-color: #3c8cc7 ;
}
.mat-button {
    color: inherit;
}

@media only screen and (max-width: 450px) {
    .title {
        font-size: 1rem;
        padding: 0;
    }
    a {
        padding: 0;
        font-size: 12px;
    }
}