@import "~@angular/material/prebuilt-themes/purple-green.css";

$black: #343a40;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: url('./assets/background.jpg');
}
.login-register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form {
    max-width: 600px;
    min-width: 350px;
    background-color: rgba(255,255,255,0.8) !important;
    a {
        color: #10bde5;
    }

    button {
        background-color: #10bde5;
        color: #fff;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: $black;
    }
    input.mat-input-element {
        color: $black;
    }
    .mat-form-field-label {
        color: $black;
    }
    .mat-card-content {
        margin-bottom: 0;
    }
    .mat-card-actions {
        margin: 0;
    }
}
.mat-card {
    color: #343a40;
}
.text-center {
    text-align: center;
}
.full-width {
    width: 100%;
}
p {
    margin: 0 !important;
}
.flex-column {
    display: flex;
    flex-direction: column;
}