<div class="container">
    <mat-card class="form">
        <form (ngSubmit)="onCreateUrl()">
            <mat-card-content>
                <mat-label class="label"><mat-icon aria-hidden="false" aria-label="Example home icon">link</mat-icon> Enter a long URL to make a TinyURL</mat-label>
                <mat-form-field appearance="outline" class="full-width" floatLabel="always">
                    <mat-label>Url</mat-label>
                    <input matInput [formControl]="fullUrl" required>
                    <mat-error *ngIf="fullUrl.invalid">{{getErrorMessageFullUrl()}}</mat-error>
                </mat-form-field>
                <mat-label *ngIf="shortUrl" class="label"><mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon> TinyURL</mat-label>
                <mat-form-field *ngIf="shortUrl" appearance="outline" class="full-width">
                    <input matInput [value]="shortUrl" readonly>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="full-width">Make TinyURL</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
